.container {
    height:100mm;
    display: flex;
}

@media (max-width: 600px){
    .container {
        height:100%;
        display: block;
    }  
}


.container_carousel {
    width:60%;
    width: 50%;
    padding-right: 4%;
    padding-left: 4%;
    margin: 0;
}

@media (max-width: 600px){
    .container_carousel {
        width:100%;
        padding-right: 4%;
        padding-left: 4%;
        margin: 0;
    }
}

.container_text {
    display: grid;
    justify-content: end;
    align-content: center;
    padding-right:5rem;
    width:50%;
    background-color: #7FC7EA;
    color: white;
    text-align: end;
}

@media (max-width: 600px){
    .container_text {
        padding:2rem;
        display: grid;
        justify-content: center;
        align-content: center;
        width:100%;
        background-color: #7FC7EA;
        color: white;
        text-align: center;
    }
}

.container_text h1{
    line-height: 28pt;
    font-weight: 300;
}

.container h3 {
    padding-top: 10%;
    padding-left: 15%;;
    padding-right: 15%;;
}

.container p {
    padding-left: 55%;;
    padding-right: 5%;;
}

.bold h1 {
    font-weight: 600;
}