.container {
    height:100mm;
    display: flex;

}

.container_carousel{
    width:60%;
}

.container_text{
    position: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    width:40%;
    background-color: #7FC7EA;
    color: white;
}

.container h3 {
    padding-top: 10%;
    padding-left: 15%;;
    padding-right: 15%;;
}

.container p {
    padding-left: 55%;;
    padding-right: 5%;;
}
