.intro {
    display: block;
    width:100%;
    background: linear-gradient(to right, #fff 50%, #eaebeb 50%);
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width:600px){
    .intro {
        max-width: 1330px;
        margin-left: auto;
        margin-right: auto;
        margin: 0;
        padding: 0;
        padding-right: 2rem;
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    background: #eaebeb 50%;
    padding-top: 5%;
}

@media (max-width:600px){
    .content {
        position: relative;
        justify-content: center;
        background: #eaebeb 100%;
    }
}

.about {
    width:50%;
    position: relative;
    width: 50%;
    padding:5mm;
    padding-left: 15mm;
}

@media (max-width:600px){
    .about {
        width: 50%;
        position: relative;
        width: 100%;
        padding-top: 7%;
        padding-left: 15%;
        padding-right: 10%;
    }
}

@media (max-width:600px){
    .about h2{
        padding-bottom: 2%;
    }
}

.youtube {
    padding-left: 15%;
    padding-top: 1%;
    padding-bottom: 2%;
    width: 50%;
    position: grid;
    display: grid;
    align-items: center;

}

@media (max-width:600px){
    .youtube {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 0;
        padding-bottom: 10mm;
        padding-right: 15mm;
        padding-left: 15mm;
    }
}