.price_container {
    padding: 5%;
    background-color: aliceblue;
}

.price_container h1 {
    padding-left: 3%;
}

.price_container h2 {
    padding-left: 3%;
    padding-bottom: 2%;
}

.price_list {
    display: flex;
    text-align: center;
    font-size: 17pt;
}
@media (max-width:430px){
    .price_list {
        font-size: 10pt;
    }
}

.column {
   max-width: 120mm;
    list-style-type: none;
}

.list_title {
    color: white;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: coral;
    font-size: 20pt;
}

@media (max-width:430px){
    .list_title {

        font-size: 12pt;
    }
}
.amount {
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color:  rgb(223 226 227);
}

.price {
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: rgb(237, 220, 90);
}

.sale_column {
    text-align: center;
    list-style-type: none;
    font-size: 17pt;
    padding: 2%;
}

.sale_title {
    margin: 0 auto;
    text-align: left;
    max-width: 150mm;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: rgb(51, 142, 159);
    color: white;
    font-size: 19pt;

}

.sale_amount {
    margin: 0 auto;
    text-align: left;
    max-width: 150mm;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color:  rgb(223 226 227);
}

.sale_price {
    margin: 0 auto;
    text-align: left;
    max-width: 150mm;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color:  rgb(82, 122, 129);
}

.other {
    padding: 2%;
    text-align: center;
    font-size: 17pt;
}

@media (max-width:430px){
    .other {
        font-size: 10pt;
    }
}

.other li {
    list-style-type: none;
}