.price_container {
    padding: 5%;
    background-color: #EAEBEB;
}

.price_container h1 {
    padding-left: 3%;
}

.price_container h2 {
    padding-left: 3%;
    padding-bottom: 2%;
}

.price_list {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 13pt;
    padding:1rem;
}
@media (max-width:430px){
    .price_list {
        font-size: 10pt;
    }
}

.column {
    width: 110mm;
    list-style-type: none;
    max-width: 120mm;
    box-shadow: 0 4px 8px 0 rgb(63 62 62 / 9%), 0 6px 80px 0 rgb(0 0 0 / 19%);
    list-style-type: none;
    padding: 0;
    margin: 5mm;
}

.column li {
    padding:5mm;
}

.column_vip {
    width: 110mm;
    list-style-type: none;
    background-color: #0b1826;
    margin-left: 8mm;
    max-width: 100mm;
    list-style-type: none;
    max-width: 120mm;
    box-shadow: 0 4px 8px 0 rgb(63 62 62 / 9%), 0 6px 80px 0 rgb(0 0 0 / 19%);
    list-style-type: none;
    padding: 0;
    margin: 5mm;
}

.column_vip li {
    padding:5mm;
}

.list_title {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: #adb0b3;
    font-size: 16pt;
}

.price_vip,
.amount_vip{
    color: transparent;
    font-size: 13pt;
    padding-right: 2rem;
    padding-top: 1.5mm;
    text-align: center;
    align-items: center;
    height:15mm;
    background-image: linear-gradient(to right,#462523,#cb9b51 22%,#f6e26a 45%,#f6f2c0 50%,        #f6e27a 55%,
    #462523 100% );
    -webkit-background-clip:text;
}

.list_title_vip {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-right: 2rem;
    width:100%;
    font-weight: bold;
    letter-spacing: 3pt;
    color: transparent;
    font-size: 15pt;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-image: linear-gradient(to right,
    #462523,
    #cb9b51 22%,
    #f6e26a 45%,
    #e4df9a 40%,
    #f6e27a 55%,
    #462523 100% );
    -webkit-background-clip:text;
}

@media (max-width:430px){   
    .list_title {

        font-size: 12pt;
    }
}
.amount {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: #D5D8DC;
}

.price {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 1.5mm;;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: #EAECEE;
}

.sale_column {
    position: relative;
    text-align: center;
    width: 110mm;
    margin-left: 8mm;
    max-width: 100mm;
    list-style-type: none;
    padding: 0;
    margin: 5mm;
    box-shadow: 0 4px 8px 0 rgb(63 62 62 / 9%), 0 6px 80px 0 rgb(0 0 0 / 19%);
}

.sale_column li {
    padding:5mm;
}

.sale {
    display: flex;
    justify-content: center;
}

.sale_title {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    text-align: left;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: #4689C7;
    color: white;
    font-size: 16pt;
}

.sale_amount {
    margin: 0 auto;
    text-align: left;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color: #D5D8DC ;
}

.sale_price {
    margin: 0 auto;
    text-align: left;
    text-align: center;
    align-items: center;
    height:15mm;
    background-color:  #7EC7E9;
}

.other {
    padding: 2%;
    text-align: center;
    font-size: 17pt;
}

@media (max-width:430px){
    .other {
        font-size: 10pt;
    }
}

.other li {
    list-style-type: none;
}