* {
    box-sizing: border-box;
}

.container_top {
    background: linear-gradient(to right, #7FC7EA 50%, #fff 50%);
    display: block;
}

@media (max-width:430px){
.container_top {
    background: linear-gradient(to right, #7FC7EA 1000%, #fff 0%);
    display: block;
}}

.container_top_main {
    max-width: 1330px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width:600px){
    .container_top_main {     
    }
}

.container_top_left {
    color: white;
    width: 50%;
    padding-right: 80px;
    margin: 0;
    display: grid;
    align-content: center;
}

@media (max-width:600px){
.container_top_left {
    display: grid;
    justify-content: center;
    color: white;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 40px;
    padding-right: 0%;
    padding-left: 0%;
    margin: 0;
    background-color: #7FC7EA;
    }
}
.container_top_right {
    width: 50%;
    padding-left: 2;
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 2%;
    margin: 0;
}

@media (max-width:600px){
.container_top_right {
    width: 100%;
    padding-bottom: 40px;
    padding-top: 10px;
    margin: 0;
    background-color: #fff;
}}


.container_top h1 {
    line-height: 28pt;
    text-align: end;
    font-weight: 300;
}

@media (max-width:600px) {
    .container_top h1 {
        line-height: 28pt;
        text-align: center;
        font-weight: 300;
    }
}

.bold h1 {
    font-weight: 600;
}

.container_top p{
    text-align: left;
}

.container_work {
    display: block;
    background: linear-gradient(to right, #fff 50%, #eaebeb 50%);
    width:100%;
    padding-left: 80px;
    padding-right: 80px;
}

@media (max-width:600px){
    .container_work {
        display: block;
        background: linear-gradient(to right, #fff 00%, #eaebeb 100%);
        width:100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
}

.container_work_wrap {
    display: flex;
    flex-wrap: wrap;
    background: #eaebeb;
}

@media (max-width:600px){
    .container_work_wrap {
        display: inline;
        flex-wrap: wrap;
        background: #eaebeb;
    }
}

.container_work h2{
    padding-bottom: 2%;
}

@media (max-width:600px){
    .container_work h2 {
        padding-top: 5%;
        padding-bottom: 5%;
}}

.container_work_right {
    width:50%;
    padding-left: 5%;
    padding-top: 5%;
}

@media (max-width:600px){
.container_work_right {
    width:100%;
    padding-left: 0%;
    padding-top: 2%;
}}

.container_work_left {
    width:50%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5%;
    padding-bottom: 2%;
}

@media (max-width:600px){
.container_work_left {
    width: 100%; 
    padding-top: 2%;
    padding-bottom: 2%;
}}

.work_iframe {
    padding-top: 20%;
    padding-left: 2%;
}

@media (max-width:600px){
.work_iframe {
    display: flex;
    justify-content: center;
    padding-left: 15%;
}}

.container_work_right h2 {
    padding-bottom: 5%;
}