.container {
    padding-left:1em;
    padding-right:1em;
    margin: 5mm; 
    position: relative;
    top: -20mm;
    margin: 5mm;
    margin-left: 20mm;
    margin-right: 20mm;
    box-shadow: 0 4px 8px 0 rgba(63, 62, 62, 0.01), 0 6px 80px 0 rgb(0 0 0 / 19%);
    border: none;

}

@media (max-width:600px) {
    .container {

        margin-bottom: -10mm;
        margin: 0mm;
        margin-left: 1rem;
        margin-right: 1rem;
    }   
}


.card {
    border-style: solid;
    border-color: white;
}


.title_top {

    padding-bottom: 0em;
    padding-top: 1.5em;
    padding-left: 1em;
    text-transform: uppercase;
    line-height: 14pt;
    letter-spacing: 0.5pt;
}

.title {

    padding-left: 1em;
    padding-bottom: 1.5em;
    padding-top: 0em;
    text-transform: uppercase;
    line-height: 14pt;
    letter-spacing: 0.5pt;
}

.text {
    padding: 0.3em;
}

.card_image {

    padding: 0.3em;
}

.card-img-top {

}