.container {
    margin: 5mm; 
    position: relative;
    top: -20mm;
    margin: 5mm;
    margin-left: 20mm;
    margin-right: 20mm;
    box-shadow: 0 4px 8px 0 rgba(63, 62, 62, 0.01), 0 6px 80px 0 rgb(0 0 0 / 19%);
}

@media (max-width:600px) {
    .container {
        margin-bottom: -10mm;
        margin: 0mm;
        margin-left: 1rem;
        margin-right: 1rem;
    }   
}

.card {
    border: none;
}

.title {
    text-transform: uppercase;
    
}