.container {
    margin: 10mm; 
    position: relative;
    top: -20mm;
    margin: 5mm;
    margin-left: 20mm;
    margin-right: 20mm;
}

@media (max-width:430px) {
    .container {
        margin-bottom: -10mm;
    }
    
}